.bg-primary {
  background-color: #0079bf !important;
  font-size: 18px;
}

.bg-gradient {
  background: linear-gradient(
    60deg,
    rgb(82, 67, 170),
    rgb(237, 80, 180)
  ) !important;
  color: black;
  font-family: sans-serif;
  h1 {
    font-weight: 500 !important;
  }
  color: white;
}

.wave {
  padding: 0px;
  z-index: 1;
}
