.expanded {
  display: none;
}
.row{
    --bs-gutter-x: 0rem !important;
    margin-right: 0px !important;
}
.card-body:hover {
  background-color: rgb(253, 113, 175);
  color: white;
  .expanded {
    display: block;
  }
  transition: 0.5s;
  cursor: pointer;
}

.bg-color {
  background-color: #fff8fb;
}
