<div class="container-fluid bg-color">
  <div class="row align-items-center justify-content-center">
    <div
      class="col-lg-10 text-center m-5 p-5"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="3000"
    >
      <small class="color">BUILT FOR EVERYONE</small>
      <h1 class="fs-1 m-5 fw-bold">A PRODUCTIVITY POWERHOUSE</h1>
    </div>

    <div
      class="col-lg-5"
      data-aos="fade-right"
      data-aos-easing="linear"
      data-aos-duration="3000"
    >
      <div class="m-auto">
        <div class="bg-white p-5 rounded-3 mb-5" style="max-width: 28rem">
          <div class="d-flex align-items-center">
            <div class="m-5 p-2 rounded-3 border border-2">
              <img src="/assets/images/eye.svg" alt="eye" style="width: 5rem" />
            </div>
            <div>
              <h2>Visualize & Plan</h2>
              <p class="card-text">
                Manage any project from start to finish with highly customizable
                views that make project planning a breeze.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="m-auto"
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="3000"
      >
        <div class="bg-white p-5 rounded-3 mb-5" style="max-width: 28rem">
          <div class="d-flex align-items-center">
            <div class="m-5 p-2 rounded-3 border border-2">
              <img
                src="assets/images/layout.svg"
                alt="layout"
                style="width: 5rem"
              />
            </div>
            <div
              data-aos="fade-right"
              data-aos-easing="linear"
              data-aos-duration="3000"
            >
              <div>
                <h2>Boards</h2>

                <p class="card-text">
                  Trello boards keep tasks organized and work moving forward. In
                  a glance, see everything from “things to do” to “aww yeah, we
                  did it!”
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="m-auto"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="3000"
      >
        <div class="bg-white p-5 rounded-3" style="max-width: 28rem">
          <div class="d-flex align-items-center">
            <div>
              <div class="m-5 p-2 rounded-3 border border-2">
                <img
                  src="/assets/images/list.svg"
                  alt="list"
                  style="width: 15rem"
                />
              </div>
            </div>
            <div
              data-aos="fade-right"
              data-aos-easing="linear"
              data-aos-duration="3000"
            >
              <h2>Lists</h2>

              <p class="card-text">
                The different stages of a task. Start as simple as To Do, Doing
                or Done—or build a workflow custom fit to your team’s needs.
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-6"
      data-aos="fade-left"
      data-aos-easing="linear"
      data-aos-duration="3000"
    >
      <img src="assets/images/img_productivity.png" alt="illustration" />
    </div>

    <img src="assets/images/pattern.svg" alt="wave" class="img-fluid wave" />
  </div>
</div>
